/* @import './reset.css'; */

.App {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

html, body {
    background-color: #303030;
    color: #FFFFFF;
    margin:0px;
}

.grad {
    background-image:
      url('/src/assets/images/banner.png');
      width:100vw;
      background-size: cover;
      background-repeat: no-repeat;
  }


  .logo img {
    width: 50%;
  }


  .button img {
    width: 250px;
  }


  .farmButtons img {
    width: 200px;
  }


  .App .wallet-adapter-button {
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        justify-content: center;
        margin: 10px auto;
        background-image: url(/src/assets/images/select_wallet.png);
        align-items: center;
        cursor: pointer;
        line-height: 48px;
        padding: 0 24px;
        color: transparent!important;
        justify-content: center;
        margin: 10px auto;
        height: 65px!important;
        width: 262px;
        }


