/* @import './reset.css'; */

.App {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

html, body {
    background-color: #303030;
    color: #FFFFFF;
    margin:0px;
}

.grad {
    background-image:
      url('/src/assets/images/banner.png');
      width:100vw;
      background-size: cover;
      background-repeat: no-repeat;
  }


  .logo img {
    width: 50%;
  }


  .button img {
    width: 250px;
  }


  .farmButtons img {
    width: 200px;
  }


  /* .App .wallet-adapter-button {
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        line-height: 48px;
        padding: 0 24px;
        justify-content: center;
        margin: 10px auto;
        height: 65px!important;
        width: 262px;
        } */

.App .wallet-adapter-button {
    background-color: purple;
    border: 1px solid black;
    border-radius: 8px;
    border-color: #e7e7e7;
    margin: 10px auto;
    height: 65px!important;
    width: 262px;
    justify-content: center;
}

.App .wallet-adapter-button-trigger {
    background-color: #512da8;
}

.App .wallet-adapter-button:not([disabled]):focus-visible {
    outline-color: white;
}

.App .wallet-adapter-button:not([disabled]):hover {
    background-color: #1a1f2e;
}

.App .wallet-adapter-button[disabled] {
    background: #404144;
    color: #999;
    cursor: not-allowed;
}


